<html>
<head>
    <title> Area Adventures</title>

    <!-- Map Style Sheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/css/ol.css" type="text/css">
    <!-- Map Style -->
    <link rel="stylesheet" href="../static/map.css" type="text/css">
    <!-- Map JS -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>

</head>

<body>
<!-- NAV -->
    {% block navbar %}
        <div>
            <a href="{{  url_for('index') }}">home</a>
            <a href="{{  url_for('submit') }}">submit</a>
            <a href="#">discover</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>


    {% endblock %}


    {% block content %}
        <!-- FLASH MESSAGES -->
        <hr>
        {% with messages = get_flashed_message() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    {% endblock %}
</body>

</html>
