{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

    <!-- interactive map -->
    <h1>Select a Location Below </h1>
    <!-- Map Container -->
    <div id="map" class="map"></div>

    <!-- Popup Container -->
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

    <!-- Map Script-->
    <script type="text/javascript" src="../static/longLat.js"></script>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center display-4">Select a Location Below</h3>
                <hr>
                {{ coords }}
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>




{% endblock %}

{#    <h1>Photo Upload</h1>#}
{#<form method="POST" enctype="multipart/form-data">#}
{#     {{ form.location.label }}#}
{#     {{ form.longitude.label }}#}
{#     {{ form.latitude.label }}#}
{#     {{ form.description.label }}#}
{#     {{ form.hidden_tag() }}#}
{#     {{ form.hidden_tag() }}#}
{#     {{ form.photo }}#}
{#     {% for error in form.photo.errors %}#}
{#         <span style="color: red;">{{ error }}</span>#}
{#     {% endfor %}#}
{#     {{ form.submit }}#}
{#</form>#}
{##}
{#{% if file_url %}#}
{#<br>#}
{#<img src="{{ file_url }}">#}
{#{% endif %}#}
{#{% endblock %}#}